
.table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.table-header {
    background-color: #911b1b;
    font-weight: bold;
}

.table-cell {
    padding: 10px;
}

.container {
    margin-top: 50px;
}

.text-center {
    text-align: center;
}
.table-row:hover {
    background-color: #ffcc00;
}
