<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>User Table</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">User Table</h1>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="table-header">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Nombre completo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="table-row">
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
